:host {
  display: block;
  .toolbar {
    .cropper {
      border-radius: 5px;
      padding: 4px 10px;
      margin-left: 10px;
      border: 1px solid transparent;
      cursor: pointer;
      letter-spacing: 1px;
      color: white;
      background-color: #409eff;
    }
  }
}
